@media only screen and (max-width: 900px) {
  .header_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    backdrop-filter: blur(10px);
    z-index: 99;
    transition: 300ms;
    padding: 15px;
  }
  .header_container_light {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;
    transition: 300ms;
    padding: 15px;
  }
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .navigation_list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
  }
  .navigation_list li {
    text-decoration: none;
    cursor: pointer;
  }

  .header_title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .navigation_button {
    width: auto;
    background-color: transparent !important;
    padding: 0px;
    color: black;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    width: auto;
    border-bottom: 2px solid transparent;
    border: 0;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: 100ms;
    margin-left: 5px;
    font-size: 24px;
    margin-top: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .navigation_button:hover {
    border-bottom: 2px solid black;
  }
  #navigation_button_contact {
    display: none;
  }
  .nav_container_open,
  .nav_container_closed {
    position: fixed;
    height: 100vh;
    width: 80vw;
    top: 0px;
    right: -80vw;
    background-color: whitesmoke;
    padding: 20px;
    padding-left: 0px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav_container_closed {
    transform: translateX(100%);
  }
  .nav_bg_open,
  .nav_bg_closed {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    right: 0px;
    transition: 200ms;
  }

  .nav_bg_open {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .nav_bg_closed {
    background-color: transparent;
    pointer-events: none;
  }
  .hamburger_menu {
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .close_menu_button {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    /* padding: 20px; */
  }
  .menu_icon {
    margin-right: 5px;
  }
  .footer_container {
    position: absolute;
    width: 100%;
    bottom: 550px;
  }
}
@media only screen and (min-width: 901px) {
  .header_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    backdrop-filter: blur(10px);
    z-index: 99;
    padding: 20px;
    transition: 300ms;
  }
  .header_container_light {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 99;
    padding: 20px;
    transition: 300ms;
  }
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
  }
  .navigation_list {
    display: flex;
    list-style-type: none;
  }
  .navigation_list li {
    text-decoration: none;
    cursor: pointer;
  }

  .header_title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .navigation_button {
    width: auto;
    background-color: transparent !important;
    padding: 0px;
    color: black;
    font-size: 18px;
    margin: 0px;
    margin-right: 10px;
    text-align: center;
    width: auto;
    border: 0;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: 100ms;
  }
  .navigation_button:hover {
    border-bottom: 2px solid black;
    transition: 100ms;
  }
  .hamburger_menu {
    display: none;
  }
  .close_menu_button {
    display: none;
    /* padding: 20px; */
  }
  .menu_icon {
    display: none;
  }
  .footer_container {
    display: none;
  }
}
