.header_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 99;
  transition: 300ms;
  padding: 10px;
}
.header_container_light {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 99;
  transition: 300ms;
  padding: 10px;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.header_title {
  font-size: 20px;
}

@media only screen and (min-width: 901px) {
  .header_content {
    max-width: 1000px;
  }
}
