.container {
  padding: 0px;
  padding-top: 2rem;
}
.header {
  font-size: 2.5rem;
  color: var(--secondary-color);
}
.live_preview_link {
  margin-top: 10px;
  margin-top: 10px;
}
.paragraph {
  margin-top: 1rem;
  text-indent: 10px;
}
.secondary_header {
  margin-top: 2rem;
  border-bottom: 1px solid rgb(50, 50, 50);
  padding-bottom: 1rem;
}
.tertiary_header {
  margin-top: 2rem;
}
.images_container {
  margin-top: 1rem;
}
.github_container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.link {
  color: var(--secondary-color);
  text-decoration: underline;
}
.link:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 1rem;
  }
}
