.container {
  display: flex;
  padding: 15px;
  border-radius: 5px;
  background-color: #e6645315;
  color: #e24630;
  margin-top: 1rem;
}
.icon_container {
  margin-right: 15px;
  margin-top: 3px;
}
