@media only screen and (max-width: 1200px) {
  .container {
    margin: auto;
    max-width: 600px;
    padding: 15px;
    position: relative;
  }
  .header {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    margin-bottom: 10px;
  }
  .project_container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    /* margin-top: 30px; */
  }
  .project_image_container {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .project_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .project_info_container {
    width: calc(100%);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .learn_more_button {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: 200ms;
    border-radius: 5px;
  }
  .learn_more_button:hover {
    opacity: 0.7;
    transition: 200ms;
  }

  .bg_image {
    display: none;
  }
  .projects_section {
    background-color: rgb(10, 10, 10);
    padding: 20px;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 20px;
  }
}
@media only screen and (min-width: 1201px) {
  .container {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    position: relative;
  }
  .header {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
  }
  .project_container {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    height: 400px;
    align-items: center;
  }
  .project_image_container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .bg_image {
    position: absolute;
    height: 300px;
    right: 0px;
    margin-bottom: 100px;
    transition: 200ms;
    cursor: pointer;
  }
  .bg_image:hover {
    /* z-index: 110; */
    transform: scale(1.01);
    transition: 200ms;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  }

  .project_info_container {
    width: calc(80% - 20px);
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(30, 30, 30);
    padding: 20px;
    z-index: 100;
    border-radius: 15px;
  }
  .learn_more_button {
    width: 200px;
    padding: 15px;
    background-color: var(--secondary-color);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: 200ms;
    border-radius: 5px;
  }
  .learn_more_button:hover {
    opacity: 0.7;
    transition: 200ms;
  }
} ;
