.content {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}
.columns > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0px;
}
.columns > ul > li {
  width: 30%;
  margin: 0px;
  list-style-type: none;
  margin: auto;
  text-align: left;
}

@media only screen and (min-width: 1201px) {
  .content {
    max-width: 1000px;
  }
  .columns > ul {
  }
  .columns > ul > li {
    width: 20%;
    text-align: center;
  }
}
