.button {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  opacity: 0.7;
  transition: opacity 200ms;
}

.button:focus-visible {
  outline: 2px solid var(--third-color);
  outline-offset: 3px;
}
.button:active {
  transform: translateY(1px);
}

.icon_right {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
