.container {
  width: 100vw;
  background-color: black;
  /* background-color: var(--main-color); */
  height: 100vh;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 30px;
  height: 100vh;
  padding-top: 15vh;
  max-width: 500px;
  margin: auto;
  position: relative;
}

.content h3 {
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
}
.content h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 30px;
}
.button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  width: 200px;
  margin-top: 50px;
  text-align: center;
  transition: 200ms;
  border-radius: 5px;
}
.button:hover {
  opacity: 0.7;
  transition: 200ms;
}
.background_text_design {
  display: none;
}
.background_text_create {
  display: none;
}
.background_text_mobile {
  position: absolute;
  font-size: 7rem;
  width: 300vw;
  bottom: 230px;
  left: 0px;
  font-weight: bolder;
  opacity: 0.1;
}

.wave_container_hidden {
  position: absolute;
  bottom: 0px;
  top: 0px;
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: calc(100vh);
}
.wave_container_shown {
  position: absolute;
  bottom: 0px;
  top: 0px;
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: calc(100vh - 200px);
  transition: margin-top 2s;
}

@keyframes glow {
  0% {
    box-shadow: 0vw 40vh 1500px 1vh rgb(34, 139, 230, 0.5);
    transform: scaleX(2.5);
  }
  20% {
    box-shadow: 30vw 10vh 1000px 60vh rgb(34, 139, 230, 0.2);
    transform: scaleX(3);
  }
  40% {
    box-shadow: 20vw 40vh 1000px 70vh rgba(34, 135, 230, 0.1);
    transform: scaleX(1.7);
  }
  60% {
    box-shadow: 10vw 10vh 1000px 60vh rgb(19, 73, 211, 0.2);
    transform: scaleX(2.5);
  }
  90% {
    box-shadow: 40vw 20vh 1000px 60vh rgb(14, 104, 178, 0.1);
    transform: scaleX(2);
  }
  100% {
    box-shadow: 0vw 40vh 1500px 1vh rgb(34, 139, 230, 0.5);
    transform: scaleX(2.5);
  }
}

.glow_1_container {
  position: absolute;
}

.glow_1 {
  box-shadow: 10vw 10vh 1000px 60vh rgb(34, 139, 230, 0.4);
  transform: scaleX(2.5);
  height: 0px;
  width: 0px;
  position: absolute;
  z-index: 0;
  animation: glow 50s infinite !important;
  height: 1px;
  width: 1px;
  border-radius: 50%;
}

.wave_bg {
  background-color: rgb(0, 0, 0);

  height: 150vh;
  margin-top: -5px;
}

@media only screen and (min-width: 901px) {
  .content {
    max-width: 600px;
    padding-top: 25vh;
  }

  .content h3 {
    font-weight: normal;
    text-align: center;
  }
  .content h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1201px) {
  .content {
    max-width: 1000px;
  }

  .content h1 {
    font-size: 50px;
  }
}
