.center {
  text-align: center;
  margin-top: 40px;
}
.about_container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
  max-width: 600px;
}
.about_container h2 {
  font-size: 2rem;
  text-align: center;
}
.professional_experience_title {
  margin-top: 5rem;
}

.job_container {
  margin-top: 2rem;
  padding: 2rem;
  border-left: 3px solid rgb(100, 100, 100);
}
.job_container h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 1201px) {
  .about_container {
    max-width: 1000px;
  }
}
