@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100vh;
    padding-bottom: 150px;
  }
  .container h3 {
    font-weight: normal;
  }
  .container h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    transition: 200ms;
  }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 200ms;
  }
}

@media only screen and (min-width: 901px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
  }
  .container h3 {
    font-weight: bold;
  }
  .container h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .button {
    background-color: black;
    color: white;
    padding: 15px;
    width: 180px;
    text-align: center;
    transition: 200ms;
  }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);

    transition: 200ms;
  }
}
