@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 30vh;
    padding-bottom: 20vh;
  }
  .container h3 {
    font-weight: normal;
  }
  .container h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }
  .button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    transition: 200ms;
  }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 200ms;
  }
}

@media only screen and (min-width: 901px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    padding-top: 180px;
    padding-bottom: 180px;
    max-width: 1200px;
    margin: auto;
  }
  .container h3 {
    font-weight: bold;
  }
  .container h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
  }
  .button {
    background-color: black;
    color: white;
    padding: 15px;
    width: 180px;
    text-align: center;
    transition: 200ms;
    margin-top: 30px;
  }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);

    transition: 200ms;
  }
}
