.container {
  width: 100vw;
  background-color: var(--main-color);
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 30px;
  height: 100vh;
  padding-top: 25vh;
  max-width: 500px;
  margin: auto;
  position: relative;
}

.content h3 {
  font-weight: normal;
  text-align: center;
}
.content h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 30px;
}
.button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  width: 200px;
  margin-top: 50px;
  text-align: center;
  transition: 200ms;
  border-radius: 5px;
}
.button:hover {
  opacity: 0.7;
  transition: 200ms;
}
.background_text_design {
  display: none;
}
.background_text_create {
  display: none;
}
.background_text_mobile {
  position: absolute;
  font-size: 7rem;
  width: 300vw;
  bottom: 230px;
  left: 0px;
  font-weight: bolder;
  opacity: 0.1;
}
.background_text_mobile > span {
}
.wave {
  z-index: 10;
  position: absolute;
  bottom: -10px;
  width: 100vw !important;
  max-height: 250px;
  height: 30%;
}

@media only screen and (min-width: 901px) {
  .content {
    max-width: 600px;
  }

  .content h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1201px) {
  .content {
    max-width: 1000px;
  }

  .content h1 {
    font-size: 50px;
  }
}
