@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100vh;
    padding-bottom: 150px;
    position: relative;
  }
  .container h3 {
    font-weight: normal;
  }
  .container h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    transition: 200ms;
  }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 200ms;
  }
  .background_text_design {
    display: none;
  }
  .background_text_create {
    display: none;
  }
  .background_text_mobile {
    font-weight: bolder;
    font-size: 6rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    margin-right: 70%;
    margin-top: 100%;
  }
  .background_text_mobile > span {
    transform: rotate(90deg);
    opacity: 0.05;
    /* writing-mode: vertical-rl; */
  }
}

@media only screen and (min-width: 901px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
    padding-bottom: 100px;
    position: relative;
  }
  .container h3 {
    font-weight: bold;
  }
  .container h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .button {
    background-color: black;
    color: white;
    padding: 15px;
    width: 180px;
    text-align: center;
    transition: 200ms;
  }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);

    transition: 200ms;
  }
  .background_text_design {
    font-size: 8em;
    font-weight: bolder;
    position: absolute;
    opacity: 0.05;
    top: 0px;
    left: 0px;
  }
  .background_text_create {
    font-size: 8em;
    font-weight: bolder;
    position: absolute;
    opacity: 0.05;
    left: 0px;
    bottom: 100px;
  }
  .background_text_mobile > span {
    display: none;
  }
}
