html,
body {
  /* theme */
  --main-color: rgb(19, 48, 91);
  --secondary-color: rgb(226, 70, 48);
  --third-color: rgb(226, 70, 48);

  background-color: rgb(20, 20, 20);
  color: rgb(200, 200, 200);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--third-color);
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  color: white;
}
p,
li,
a {
  margin: 0px;
  color: rgb(200, 200, 200);
  line-height: 2rem;
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 1200px) {
}
