@media only screen and (min-width: 901px) {
  .main {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
  }
  .header {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .header > h1 {
    font-size: 3em;
  }
  .live_preview_link {
    margin-bottom: 10px;
  }
  .project_info {
    margin-top: 20px;
  }
  .project_info > h2 {
    margin-bottom: 10px;
  }
  .github_container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .github_container > svg {
    font-size: 20px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
  }
  .github_container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .github_container > svg {
    font-size: 20px;
    margin-right: 5px;
  }
}
