@media only screen and (min-width: 901px) {
  .container {
    width: 100%;
    margin: auto;
    color: black;
    top: 90px;
    margin-left: -20px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    padding-left: 30px;
  }
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .icon {
    font-size: 24px;
    margin-right: 5px;
    transition: 200ms;
  }
  .button:hover > .icon {
    transform: translateX(-5px);
    transition: 200ms;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    color: black;
    top: 65px;
    left: 0px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .icon {
    font-size: 24px;
    margin-right: 5px;
    transition: 200ms;
  }
  .button:hover > .icon {
    transform: translateX(-5px);
    transition: 200ms;
  }
}
